In [1]:
#pip install pandas seaborn sqlalchemy

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: seaborn in c:\users\hp\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\hp\anaconda3\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine

In [3]:
# Step 1: Load datasets
iris_df = sns.load_dataset('iris')
tips_df = sns.load_dataset('tips')

In [4]:
# Step 2: Handle missing data
iris_df.dropna(inplace=True)
tips_df.dropna(inplace=True)

In [5]:
# Step 3: Create a new column "tip_percentage" for the "tips" dataset
tips_df['tip_percentage'] = tips_df['tip'] / tips_df['total_bill']

In [6]:
# Step 4: Calculate the average of each numeric feature for each species of iris flowers
iris_avg_df = iris_df.groupby('species').mean().reset_index()

In [7]:
# Step 5: Load datasets into a new SQLite database
engine = create_engine('sqlite:///etl_database.db')
iris_avg_df.to_sql('iris_data', engine, if_exists='replace', index=False)
tips_df.to_sql('tips_data', engine, if_exists='replace', index=False)

244

In [8]:
# Step 6: Print the results
print("Iris dataset with average values:")
print(iris_avg_df)

Iris dataset with average values:
      species  sepal_length  sepal_width  petal_length  petal_width
0      setosa         5.006        3.428         1.462        0.246
1  versicolor         5.936        2.770         4.260        1.326
2   virginica         6.588        2.974         5.552        2.026

In [9]:
print("\nTips dataset with tip_percentage column:")
print(tips_df)

Tips dataset with tip_percentage column:
     total_bill   tip     sex smoker   day    time  size  tip_percentage
0         16.99  1.01  Female     No   Sun  Dinner     2        0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3        0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3        0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2        0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4        0.146808
..          ...   ...     ...    ...   ...     ...   ...             ...
239       29.03  5.92    Male     No   Sat  Dinner     3        0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2        0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2        0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2        0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2        0.159744

[244 rows x 8 columns]

In [10]:
import sqlite3

In [11]:
connection = sqlite3.connect('etl_database.db')

In [12]:
create_sql= " CREATE TABLE IF NOT EXISTS tips(total_bill REAL,tip REAL, sex TEXT ,smoker TEXT, day TEXT ,time TEXT, size INTEGER,tip_percentage REAL)"
cur=connection.cursor()
cur.execute(create_sql)

In [13]:
iris_df.to_sql(name='iris',con=connection,if_exists='replace',index=False)
tips_df.to_sql(name='tips',con=connection,if_exists='replace',index=False)

244

In [14]:
connection.close()

In [ ]:
"""iris_html = iris_df.to_html(index=False)
tips_html = tips_df.to_html(index=False)

with open("iris.html", "w") as f:
    f.write("<html><body>")
    f.write("<h1>Iris Dataset</h1>")
    f.write(iris_html)
    f.write("</body></html>")

with open("tips.html", "w") as f:
    f.write("<html><body>")
    f.write("<h1>Tips Dataset</h1>")
    f.write(tips_html)
    f.write("</body></html>")